
@media screen and (max-width: 600px) {
    .containb{
    width:100vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    }
}



@media screen and (min-width: 601px) {
    header{
      font-size: 1.2vw;
    }
  }
  @media screen and (max-width: 600px) {
    header {
      font-size: 3vw;
      width: 100%;
    }
}





@media screen and (max-width:600px){
  .text-01-h1,.ASSC{
    font-size: 6.6vw;
  }
}






/* SECTION 1.5 */
@media screen and (max-width:600px){
    .link-to-download>div{
        width: 100vw;
    }
}





/* SECTION 2*/
@media screen and (max-width: 600px) {
    .s-02-p1, .s-02-p2 {
      font-size: 5vw;
    }
}






/* SECTION 3 */
@media screen and (max-width: 600px) {
  .full-discription1,.full-discription2, .full-discription3{
        font-size: 4vw;
    }
    .pic1, .pic2, .pic3{
        width: 100px;
    }
    
}


@import "compass/css3";
.seperator {
    width: auto;
    height: 5px;
    animation: rotate 2s infinite linear;
    -webkit-animation: rotate 2s infinite linear;
  }
  
}

@-webkit-keyframes rotate {
  from {
    background-position: -30vw;
  }
  to { 
    background-position: 0px;
  }
}

@keyframes rotate {
  from {
    background-position: -30vw;
  }
  to { 
    background-position: 0px;
  }
}

.gradient {
  background: rgb(48,255,144); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(48,255,144,1) 0%, rgb(255, 255, 255) 25%, rgba(201,152,38,1) 50%, rgba(48,255,230,1) 75%, rgba(48,255,144,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(48,255,144,1)), color-stop(25%,rgb(255, 255, 255)), color-stop(50%,rgba(201,152,38,1)), color-stop(75%,rgba(48,255,230,1)), color-stop(100%,rgba(48,255,144,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(48,255,144,1) 0%,rgb(255, 255, 255) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(48,255,144,1) 0%,rgb(255, 255, 255) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(48,255,144,1) 0%,rgb(255, 255, 255) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(48,255,144,1) 0%,rgb(255, 255, 255) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 ); /* IE6-9 */

}